body{
  background-image: url(images/background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  font-family: Helvetica, Arial, sans-serif;
  color: white;
}
h1 {
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
}
a{
  color: white;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid #000000;
  margin-bottom: 200px;
}
