body{
  background-image: url(images/background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

h1 {
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-size: 20px;

}
a {
  color: white;
}

.championimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid #000000;
}

.header {
  padding: 10px 10px 0px 10px;
}

ul {
  list-style-type: none;
  color: white;
}
.fa-instagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
